.main-content {
    padding: 20px;
    flex: 1;
    font-size: 30px;
  }
  
  .main-content section {
    margin-bottom: 20px;
  }
  
  .main-content h1 {
    font-size: 40px;
  }
  
  .main-content h2 {
    font-size: 1.5em;
    margin-top: 20px;
  }
  